  

       .oddy
       {
           background-color: pink;
       }

            
       #subtitle
       {
          background-color: pink;
          border: pink solid;
       }


       #grey
       {
           background-color: grey;
           border: grey solid; 
           font-family: fantasy;  
           font-size: 20 px  
       }




         a:hover  {
            background-color: green;
         }     
            
            
    
